---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout primaryTitle="关于">
  <section class="archive">
    <div class="section-content section-tag">
      <div class="archive-tag">
        <h2 class="tag-header">关于我</h2>
        <div class="tag-post-list">
          <ul>
            <li>一个学生</li>
            <li>爱折腾</li>
            <li>爱音乐</li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">关注我</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              <a href="https://github.com/aedelstan" target="_blank">Github</a>
            </li>
            <li>
              <a href="https://twitter.com/austinit" target="_blank"> Twitter</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">我的其他博客</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              <a href="https://aedelstan.github.io/hexo-kevin-blog/" target="_blank">Hexo</a>
            </li>
            <li>
              <a href="https://aedelstan.github.io/starrail-blog/" target="_blank">Gmeek</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </section>
</BaseLayout>
