---
import { SITE_TITLE } from "../consts";
---

<nav class="nav">
  <div class="nav-wrapper">
    <div class="nav-content-wrapper">
      <div class="nav-content">
        <a href="/" class="nav-title">{SITE_TITLE}</a>
        <div class="nav-menu">
          <div class="nav-item-wrapper">
            <a href="/archive" class="nav-item-content bordered-text">目录</a>
          </div>
          <div class="nav-item-wrapper">
            <a href="/about" class="nav-item-content bordered-text">关于</a>
          </div>
          <div class="nav-item-wrapper">
            <a
              href="/rss.xml"
              class="nav-item-content bordered-text"
              target="_blank">RSS</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
